 language: java
  - oraclejdk8
 
 script:
  - mvn install -DskipTests=false
  - git log origin/master.. --stat
  - sudo apt-get install phantomjs
  - git clone --depth=1 https://github.com/n1k0/casperjs.git /tmp/casperjs
  - export PATH=$PATH:/tmp/casperjs/bin
 script:
   - mvn clean install -Pqulice --batch-mode --errors
 after_success:
  - git tag -a build_%{build_number}
  - mvn clean cobertura:cobertura coveralls:cobertura
  
 notifications:
  email:
   -leyenasd@gmail.com
   
 deploy:
  provider: heroku
  api-key: "763620ad-1fa9-4aca-a0f7-0603f4f4e60c"
  app: gerencia20162
 
